<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Naveen's Profile</title>
  <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-body h-100 border-info" id="profile-wrapper">
          <img id="profile-pic" src="{% static 'images/myimage.jpg' %}" alt="">
          <h4>Hi Iam Naveen</h4>
          <hr>
          <p>Never dreamt or thought about developing my own web application, but here you go I am practicing creating web applications
            with python & django. Naveen's profile is my first web application and many more to come.</p>
        </div>
          </div>
        <div class="col-md-9">
          <div class="card card-body h-100 border-info">
            <h4>QA Test Analyst</h4>
            <hr>
            <p>Worked with CharTtics, Deloitte client was Revenue and currently
              working as Senior UAT Test Analyst with Irish Life. I have always been
              very much interested in coding and always tried to lay my path towards automation testing.
               I have never dreamed of entering into full stack web development area, but here you go making baby steps
              towards the becoming full stack web developer.
            </p>
            <p>Also I am in pursuite of graduate diploma in data analytics from Ulster University
              in association with Irish Times & Microsoft.</p>
            <ul class="social-links">
              <li><img class="social" src="{% static 'images/small_facebook.png' %}"></li>
              <li><img class="social" src="{% static 'images/small_instagram.png' %}"></li>
              <li><img class="social" src="{% static 'images/small_linkedin.png' %}"></li>
              <li><img class="social" src="{% static 'images/small_twitter.png' %}"></li>

            </ul>
          </div>
        </div>
        </div>


      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>I have worked with</h5>
            <hr>
            <ul>
            <p>As a QA test analyst I have experience in:    </p>

              <p>Automation level: Java, Cucumber, Selenium, SQL</p>
                <p>IDE's: Eclipse, Atom & Visual Code</p>
                <p>Full stack Developer: Python, django, html, css and java script</p>


            </ul>
          </div>
          </div>
          <div class="col-md-6">
            <div class="card card-body h-100">
              <h5>Projects</h5>
              <hr>
              <ol>
                <p>Started creating webapplications. Naveen's profile is 1st static web application created</p>
                <p>Submitted my data science project on water crisis using python as development language and using libraries like pandas, numphy, seaborn,
                matplotlib, plotly and jupyter as IDE.</p>
              </ol>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-body h-100">
              <h5>How I learn</h5>
              <hr>
              By watching youtube videos, refering online documentation and also platform like Udemy has helped me to reach until here.
            </div>
            </div>
            <br>
            <div class="col-md-6">
              <div class="card card-body h-100">
                <h5>My Goals</h5>
                <hr>
                My goal is at the moment survive and code as much as I can.
              </div>
            </div>

          </div>
          <br>
        </div>



</body>

</html>
